body{
    background-image:linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.5)),  url("../IMG/CloudIMG.JPG");
    background-attachment: fixed;   
    color: white;
    font-family: monospace;
}
a{
    color: #387D7A;
}
.loc-caption:before {
    content: attr(title);
    display: block;
}
@media screen and (max-width: 2000px) {
    
    .imgOfMe {
        width: 40%;
        margin-top: 10px;
        margin-left: 50px;
        float: right;
        display: block;
        align-content: center;
      /*height: 40;*/
    }
    
    .postContent{
  
      color: white;
      font-size: 1.0em;
      font-family: monospace;
  
    }
    .introCont{
      margin-left: 15%;
      margin-right: 15%;
      overflow: auto
    }
}
  

@media screen and (max-width: 700px) {
    .postContent{
        color: white;
        font-size: 1.0em;
        font-family: monospace;
        margin-left: 0%;
        margin-right: 0%;
    }
    .text{
        margin-left:  10%;
        margin-right: 10%;
    }
    .introCont{
        margin-left:  10%;
        margin-right: 10%;
    }
    
    .imgOfMe {
        width: 80%;
        margin-right: 10%;

    }
   
    
    
   
}
