body{
    background-image:linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.2)),  url("../IMG/CloudIMG.JPG");
    background-attachment: fixed;   
}
li{
    display: block;

}
@media screen and (max-width: 2000px) {
  img, .imgOfMe {
       width: 40%;
  }
  .postContent{

    color: white;
    font-size: 1.0em;
    font-family: monospace;
}
  .imgOfMe{
    margin-top: 10px;
    margin-left: 50px;
    float: right;
    display: block;
    align-content: center;
    /*height: 40;*/
  }
  .introCont{
    margin-left: 15%;
    margin-right: 15%;
    overflow: auto
  }
}

@media screen and (max-width: 800px) {
  img, .imgOfMe {
       width: 80%;
       margin-right: 0px;
       margin-left: 0px;
       align-self: center;

  }
  .imgOfMe{
    margin-right: 10%;
    align-content: center;
    /*height: 40;*/
  }
  .postContent{
    color: white;
    font-size: 1.0em;
    font-family: monospace;
    text-align: center;
  }
  .introCont{
    margin-left: 5%;
    margin-right: 5%;
    overflow: auto
}
  
}




.loc-caption:before {
    content: attr(title);
    display: block;
}
  
  ul {
    text-align: center;
    padding: 0;
  }
  
  li {
    width: 15%;
    display: inline-block;
    vertical-align: top;
  }
  
  li img {
    max-width: 100%;
    height: auto;
  }