.introCont{
    margin-left: 15%;
    margin-right: 15%;
    overflow: auto
}
.projectList{
    color: white;
    font-size: 1.0em;
    margin: 5%;
}

a{
    color: #387D7A;
}
img {
    display: block;
    margin: 0 auto;
    width: 40%;
    padding-bottom: 20px;
}


